:root {
    --bg-grid: black;
    --bg-cell: red;
    --font-guide-lg: 1.5rem;
    --font-guide-sm: .7rem;
    --gap-lg: 3px;
    --gap-sm: 2px;
    --button-fg-disable: grey;
    --button-fg-normal: black;
    --button-bg-disable: darkgrey;
    --button-bg-normal: white;
    --button-font-size: 2rem;
    --board-hit: darkred;
    --board-hover: aqua;
    --board-miss: grey;
    --board-selected: yellow;
    --board-ship: green;
    --side-size: 10;
}


body, html {
    margin: 0;
    height: 100%;
    width: 100%;
    /* width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; */
}

button {
    background-color: var(--button-bg-normal);
    color: var(--button-fg-normal);
    border: 5px solid var(--button-fg-normal);
    font-size: var(--button-font-size);
}

button:disabled {
    background-color: var(--button-bg-disable);
    color: var(--button-fg-disable);
    border-color: var(--button-fg-disable);
}

/* styling for all grid displays */
.grid-box {
    font-size: var(--font-guide-lg);
    aspect-ratio: 1 / 1;
    background-color: var(--bg-grid);
    display: grid;
    grid-template-columns: repeat(var(--side-size), 1fr);
    gap: var(--gap-lg);
}

.grid-box > div {
    position: relative;
    user-select: none;
    background-color: var(--bg-cell);
    display: flex;
    justify-content: center;
    align-items: center;
}

.guide-top,
.guide-corner {
    margin-bottom: calc(var(--gap-lg) * .66);
}

.guide-left,
.guide-corner {
    margin-right: calc(var(--gap-lg) * .66);
}

.guide-corner {
    background-color: var(--bg-grid) !important;
}

/* Styling for all grid icons */
.ship {
    background-color: var(--board-ship) !important;
}

.miss {
    background-color: var(--board-miss) !important;
}

.hit {
    background-color: var(--board-hit) !important;
}

.selected {
    background-color: var(--board-selected) !important;
}

.hover {
    background-color: yellow !important;
}

.set {
    background-color: green !important;
}

.set.hover {
    background-color: darkgrey !important;
}

/* Styling for notifications */
.gameover-container,
.turn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.gameover-container {
    background-color: transparent;
}

.turn-container {
    background-color: white;
}

.gameover-content,
.turn-content {
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

#main-container {
    height: 100%;
    width: 100vw;
    min-height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

/* Styling for set display */
#set-container {
    display: flex;
    flex-direction: column;
    flex: 0 1 55vh;
    gap: 1rem;
    
}

/* .set-grid {
    font-size: var(--font-guide-lg);
    aspect-ratio: 1 / 1;
    gap: var(--gap-lg);
    min-height: 0;
} */

.set-tray {
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.tray-item {
    position: relative;
    display: grid;
    justify-content:left;
    align-items: center;
    padding: 1rem;
}

.icon-piece {
    position: relative;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    border: var(--gap-sm) solid black;
    background-color: black;
    display: flex;
    gap: var(--gap-sm);
}

.icon-piece.icon-disable>div:not(#dragged) {
    background-color: grey !important;
}

.icon-cell {
    background-color: var(--bg-cell);
    aspect-ratio: 1 / 1;
}

.drag-cell {
    opacity: 0.5;
    background-color: grey;
}

#dragged {
    z-index: 9;
    opacity: 0.5;
    position: absolute !important;
}

.drag-y {
    flex-direction: column;
}

.toggle-rotate {
    transform: rotate(90deg);
}

#toggle-bar {
    display: flex;
}

#toggle-container {
    position: relative;
    margin: 10px;
}

#toggle-text {
    user-select: none;
    position: absolute;
    left: 50%;
    top:  50%;
    transform: translate(-50%, -50%);
}

#toggle-body {
    height: 80px;
    width: 80px;
    background-color: red;
    border-radius: 40px;
}

#toggle-body:after {
    position: absolute;
    height: 0;
    width: 0;
    top: 20px;
    left: 70px;
    content: '';
    border: 20px solid transparent;
    border-left-color: red;
}

/* Styling for play displays */
.play-container {
    margin: 0 .5rem;
    width: 100%;
    height: min-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
    gap: 1rem;
}

.play-status {
    grid-row: 1 / 2;
    font-size: var(--font-guide-sm);
    aspect-ratio: 1 / 1;
    width: 50%;
    gap: var(--gap-sm);
}

.play-status .guide-left {
    margin-right: calc(var(--gap-sm) * .66);
}

.play-status .guide-top {
    margin-bottom: calc(var(--gap-sm) * .66);
}

.play-area {
    font-size: var(--font-guide-lg);
    aspect-ratio: 1 / 1;
    width: 100%;
    gap: var(--gap-lg);
}

.play-area > .open-cell:hover {
    background-color: var(--board-hover) !important;
}

.play-button {
    width: 100%;
}

/* Styling for wide views of play display  */
@media (min-width: 570px) {
    .play-container {
        max-width: 1000px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
    }

    .play-area {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
    }

    .play-status {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        width: 100%;
    }

    .play-button {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }
}
